<template>
  <h1>${message}</h1>

  <content>
    <p>
    Using vanilla ECMA 6 JS without babel or any transpiling.  So, this means no 
    @decorators which is why you'll see me using <code>static inject = [object];</code>
    rather than <code>@inject(object)</code>. Other than this, the JS should look 
    just like it does in our SPAs.
    </p>
    <p>
      To play, just visit "Playground" link above.  I also have an example of the property observer for "observing" nested properties, just click "Property Observer" link above.
    </p>
  </content>
</template>
